{% extends 'base.html' %}
{% block title %}Add Food{% endblock %}

{% block content %}

<h1>Add Food Item</h1>

<!-- Form for adding food item -->
<form id="foodItemForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form> 

<!-- Link to add a new category -->
<p>Didn't find your category? <a href="{% url 'add_category' %}">Click to Add</a></p>
<!-- Link to delete categories -->
<p>Want to delete your category? <a href="{% url 'category_list' %}">Click to Delete</a></p>

<!-- Barcode scanning section -->
<h2>Barcode Scanner</h2>
<button id="scanButton">Scan Barcode</button>

<!-- Script for barcode scanning -->
<script src="https://cdn.jsdelivr.net/npm/quagga/dist/quagga.min.js"></script>
<script>
    // Initialize QuaggaJS
    Quagga.init({
        inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector('#foodItemForm')
        },
        decoder: {
            readers: ['ean_reader']
        }
    }, function(err) {
        if (err) {
            console.error('Failed to initialize Quagga:', err);
            return;
        }
        console.log('Quagga initialized successfully.');
        Quagga.start();
    });

    // Handle barcode scanning results
    Quagga.onDetected(function(result) {
        var barcode = result.codeResult.code;
        console.log('Barcode detected:', barcode);
        // Here, you can perform actions with the scanned barcode, such as populating form fields
        // For simplicity, let's just display an alert with the scanned barcode
        alert('Scanned Barcode: ' + barcode);
    });

    // Stop Quagga when leaving the page
    window.addEventListener('beforeunload', function() {
        Quagga.stop();
    });
</script>

</div>

{% endblock %}
