{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="card" style="background-color: #ff9999;">
        <h2>Total Users</h2>
        <p>{{ total_users }}</p>
    </div>
    <div class="card" style="background-color: #99ff99;">
        <h2>Total Food Items Added</h2>
        <p>{{ total_food_items }}</p>
    </div>
    <div class="card" style="background-color: #9999ff;">
        <h2>Total Categories</h2>
        <p>{{ total_categories }}</p>
    </div>
</div>
{% endblock %}
