{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="card" style="background-color: #ff9999;">
        <h2>Total Users</h2>
        <p>{{ total_users }}</p>
    </div>
    <div class="card" style="background-color: #99ff99;">
        <h2>Total Food Items Added</h2>
        <p>{{ total_food_items }}</p>
    </div>
    <div class="card" style="background-color: #9999ff;">
        <h2>Total Categories</h2>
        <p>{{ total_categories }}</p>
    </div>
</div>


<div class="dashboard">
    <div class="notification">
        {% if approaching_expiry_items %}
            <p>Your product is about to expire. Please deposit it to the local food bank.</p>
            <ul>
                {% for item in approaching_expiry_items %}
                    <li>{{ item.name }} - Expiry Date: {{ item.expiry_date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No items approaching expiry date.</p>
        {% endif %}
    </div>
{% endblock %}

