
/* user_signin.css */

body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.signin-container {
    max-width: 400px;
    margin: 40px; 
    padding: 20px;
    background-color: rgba(116, 102, 102, 0.1); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

h2, p {
    text-align: left; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    color: black;
}

button {
    padding: 10px;
    background-color: #c7cf31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #aabb22; /* Adjusted color on hover */
}

/* Add any additional styling as needed */
      /* Navbar styles */
.navbar {
background-color: #333; /* Dark background color for the navbar */
padding: 10px;
display: flex;
justify-content: space-between; /* Spread items horizontally */
align-items: center; /* Vertically center items */
margin: 0; /* Center the navbar horizontally */
height: 30px; /* Adjust the height of the navbar as needed */
}

.navbar img {
max-height: 10px; /* Adjust the maximum height of the logo */
margin-right: 10px; /* Add some margin to the right of the logo */
}

.navbar h1 {
margin: 0;
padding: 0;
color: #c7cf31;
font-size: large; /* Text color for the company name */
}

.navbar .signin-link {
color: yellow;
text-decoration: yellow;
}
.navbar h4 {
margin-right: -72%; /* Adjust the margin-right for the h4 tag */
font-size: small;
font-family: Arial, Helvetica, sans-serif;
}

/* Footer styles */
.footer {
background-color: #333;
color: white;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}
